@model EntityLayer.Concrete.Service

@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateService", "Service", FormMethod.Post))
{
    <form class="form-group">
        <br>
        @Html.HiddenFor(x=>x.ServiceId)
        @Html.Label("Service Title")
        @Html.TextBoxFor(x=>x.Title, new {@class="form-control"})
        <br />
        <label>Description</label>
        @Html.TextBoxFor(x=>x.Description, new {@class="form-control"})

        <br>
        <label>ImageUrl</label>
        @Html.TextBoxFor(x=>x.ImageUrl, new {@class="form-control"})

        <br>
        <button class="btn btn-success">Save</button>
    </form>
}


